html{
    background-color:ghostwhite;
}

.Container{
    width: 100%;
    margin-top: 40px;
}

.row{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.col-50{
    width: 50%;
    margin-top: 10px;
}

.cont-50 div{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}


.cont-50 div a{
    text-decoration: none;
    color:orange;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.col-50 div p{
    color: aqua;
    font-family:sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.cont-image{
    width: 100%;
    height: 70vh;
    margin: 0;
    justify-content: center;
    display: flex;
}

.cont-image img{
    width: 80%;
    justify-content: center;
    border-radius: 15px 15px 0 0;

}